task/src/main/resources/Miscellaneous_v.1.4.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:eb="http://www.ebxml.org/namespaces/messageHeader" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:misc="http://www.sabre.com/ns/Ticketing/misc/1.0" name="MiscellaneousServices" targetNamespace="http://www.sabre.com/ns/Ticketing/misc/1.0">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.sabre.com/ns/Ticketing/misc/1.0" schemaLocation="Miscellaneous_v.1.4.1.xsd"/>
      <xsd:import namespace="http://www.ebxml.org/namespaces/messageHeader" schemaLocation="msg-header-2_0.xsd"/>
      <xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/12/secext" schemaLocation="wsse.xsd"/>
    </xsd:schema>
  </types>
  <message name="GetMiscFeesInput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:GetMiscFeesRQ"/>
  </message>
  <message name="GetMiscFeesOutput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:GetMiscFeesRS"/>
  </message>
  <message name="GetMiscFeesFault">
    <part name="body" element="misc:GetMiscFeesRS"/>
  </message>
  <message name="GetMiscOverrideInput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:GetMiscOverrideRQ"/>
  </message>
  <message name="GetMiscOverrideOutput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:GetMiscOverrideRS"/>
  </message>
  <message name="GetMiscOverrideFault">
    <part name="body" element="misc:GetMiscOverrideRS"/>
  </message>
  <message name="CalculateTotalCostInput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:CalculateTotalCostRQ"/>
  </message>
  <message name="CalculateTotalCostOutput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:CalculateTotalCostRS"/>
  </message>
  <message name="CalculateTotalCostFault">
    <part name="body" element="misc:CalculateTotalCostRS"/>
  </message>
  <message name="CollectMiscFeeInput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:CollectMiscFeeRQ"/>
  </message>
  <message name="CollectMiscFeeOutput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:CollectMiscFeeRS"/>
  </message>
  <message name="CollectMiscFeeFault">
    <part name="body" element="misc:CollectMiscFeeRS"/>
  </message>
  <message name="WaiveMiscFeeInput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:WaiveMiscFeeRQ"/>
  </message>
  <message name="WaiveMiscFeeOutput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:WaiveMiscFeeRS"/>
  </message>
  <message name="WaiveMiscFeeFault">
    <part name="body" element="misc:WaiveMiscFeeRS"/>
  </message>
  <message name="CalculateExchangeCostInput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:CalculateExchangeCostRQ"/>
  </message>
  <message name="CalculateExchangeCostOutput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:CalculateExchangeCostRS"/>
  </message>
  <message name="CalculateExchangeCostFault">
    <part name="body" element="misc:CalculateExchangeCostRS"/>
  </message>
  <message name="ExchangeDocumentForEMDInput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:ExchangeDocumentForEMDRQ"/>
  </message>
  <message name="ExchangeDocumentForEMDOutput">
    <part name="header" element="eb:MessageHeader"/>
    <part name="header2" element="wsse:Security"/>
    <part name="body" element="misc:ExchangeDocumentForEMDRS"/>
  </message>
  <message name="ExchangeDocumentForEMDFault">
    <part name="body" element="misc:ExchangeDocumentForEMDRS"/>
  </message>
  <portType name="GetMiscFeesPortType">
    <operation name="GetMiscFeesRQ">
      <input message="misc:GetMiscFeesInput"/>
      <output message="misc:GetMiscFeesOutput"/>
      <fault name="GetMiscFeesSoapFault" message="misc:GetMiscFeesFault"/>
    </operation>
  </portType>
  <portType name="GetMiscOverridePortType">
    <operation name="GetMiscOverrideRQ">
      <input message="misc:GetMiscOverrideInput"/>
      <output message="misc:GetMiscOverrideOutput"/>
      <fault name="GetMiscOverrideSoapFault" message="misc:GetMiscOverrideFault"/>
    </operation>
  </portType>
  <portType name="CalculateTotalCostPortType">
    <operation name="CalculateTotalCostRQ">
      <input message="misc:CalculateTotalCostInput"/>
      <output message="misc:CalculateTotalCostOutput"/>
      <fault name="CalculateTotalCostSoapFault" message="misc:CalculateTotalCostFault"/>
    </operation>
  </portType>
  <portType name="CollectMiscFeePortType">
    <operation name="CollectMiscFeeRQ">
      <input message="misc:CollectMiscFeeInput"/>
      <output message="misc:CollectMiscFeeOutput"/>
      <fault name="CollectMiscFeeSoapFault" message="misc:CollectMiscFeeFault"/>
    </operation>
  </portType>
  <portType name="WaiveMiscFeePortType">
    <operation name="WaiveMiscFeeRQ">
      <input message="misc:WaiveMiscFeeInput"/>
      <output message="misc:WaiveMiscFeeOutput"/>
      <fault name="WaiveMiscFeeSoapFault" message="misc:WaiveMiscFeeFault"/>
    </operation>
  </portType>
  <portType name="CalculateExchangeCostPortType">
    <operation name="CalculateExchangeCostRQ">
      <input message="misc:CalculateExchangeCostInput"/>
      <output message="misc:CalculateExchangeCostOutput"/>
      <fault name="CalculateExchangeCostSoapFault" message="misc:CalculateExchangeCostFault"/>
    </operation>
  </portType>
  <portType name="ExchangeDocumentForEMDPortType">
    <operation name="ExchangeDocumentForEMDRQ">
      <input message="misc:ExchangeDocumentForEMDInput"/>
      <output message="misc:ExchangeDocumentForEMDOutput"/>
      <fault name="ExchangeDocumentForEMDSoapFault" message="misc:ExchangeDocumentForEMDFault"/>
    </operation>
  </portType>
  <binding name="GetMiscFeesSoapBinding" type="misc:GetMiscFeesPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetMiscFeesRQ">
      <soap:operation soapAction="OTA"/>
      <input>
        <soap:header message="misc:GetMiscFeesInput" part="header" use="literal"/>
        <soap:header message="misc:GetMiscFeesInput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:header message="misc:GetMiscFeesOutput" part="header" use="literal"/>
        <soap:header message="misc:GetMiscFeesOutput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </output>
      <fault name="GetMiscFeesSoapFault">
        <soap:fault name="GetMiscFeesSoapFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="GetMiscOverrideSoapBinding" type="misc:GetMiscOverridePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetMiscOverrideRQ">
      <soap:operation soapAction="OTA"/>
      <input>
        <soap:header message="misc:GetMiscOverrideInput" part="header" use="literal"/>
        <soap:header message="misc:GetMiscOverrideInput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:header message="misc:GetMiscOverrideOutput" part="header" use="literal"/>
        <soap:header message="misc:GetMiscOverrideOutput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </output>
      <fault name="GetMiscOverrideSoapFault">
        <soap:fault name="GetMiscOverrideSoapFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="CalculateTotalCostSoapBinding" type="misc:CalculateTotalCostPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CalculateTotalCostRQ">
      <soap:operation soapAction="OTA"/>
      <input>
        <soap:header message="misc:CalculateTotalCostInput" part="header" use="literal"/>
        <soap:header message="misc:CalculateTotalCostInput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:header message="misc:CalculateTotalCostOutput" part="header" use="literal"/>
        <soap:header message="misc:CalculateTotalCostOutput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </output>
      <fault name="CalculateTotalCostSoapFault">
        <soap:fault name="CalculateTotalCostSoapFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="CollectMiscFeeSoapBinding" type="misc:CollectMiscFeePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CollectMiscFeeRQ">
      <soap:operation soapAction="OTA"/>
      <input>
        <soap:header message="misc:CollectMiscFeeInput" part="header" use="literal"/>
        <soap:header message="misc:CollectMiscFeeInput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:header message="misc:CollectMiscFeeOutput" part="header" use="literal"/>
        <soap:header message="misc:CollectMiscFeeOutput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </output>
      <fault name="CollectMiscFeeSoapFault">
        <soap:fault name="CollectMiscFeeSoapFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="WaiveMiscFeeSoapBinding" type="misc:WaiveMiscFeePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="WaiveMiscFeeRQ">
      <soap:operation soapAction="OTA"/>
      <input>
        <soap:header message="misc:WaiveMiscFeeInput" part="header" use="literal"/>
        <soap:header message="misc:WaiveMiscFeeInput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:header message="misc:WaiveMiscFeeOutput" part="header" use="literal"/>
        <soap:header message="misc:WaiveMiscFeeOutput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </output>
      <fault name="WaiveMiscFeeSoapFault">
        <soap:fault name="WaiveMiscFeeSoapFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="CalculateExchangeCostSoapBinding" type="misc:CalculateExchangeCostPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CalculateExchangeCostRQ">
      <soap:operation soapAction="OTA"/>
      <input>
        <soap:header message="misc:CalculateExchangeCostInput" part="header" use="literal"/>
        <soap:header message="misc:CalculateExchangeCostInput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:header message="misc:CalculateExchangeCostOutput" part="header" use="literal"/>
        <soap:header message="misc:CalculateExchangeCostOutput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </output>
      <fault name="CalculateExchangeCostSoapFault">
        <soap:fault name="CalculateExchangeCostSoapFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="ExchangeDocumentForEMDSoapBinding" type="misc:ExchangeDocumentForEMDPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ExchangeDocumentForEMDRQ">
      <soap:operation soapAction="OTA"/>
      <input>
        <soap:header message="misc:ExchangeDocumentForEMDInput" part="header" use="literal"/>
        <soap:header message="misc:ExchangeDocumentForEMDInput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:header message="misc:ExchangeDocumentForEMDOutput" part="header" use="literal"/>
        <soap:header message="misc:ExchangeDocumentForEMDOutput" part="header2" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </output>
      <fault name="ExchangeDocumentForEMDSoapFault">
        <soap:fault name="ExchangeDocumentForEMDSoapFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MiscellaneousService">
    <port name="GetMiscFeesPortType" binding="misc:GetMiscFeesSoapBinding">
      <soap:address location="http://localhost:8088/mockCollectMiscFeeSoapBinding"/>
    </port>
    <port name="GetMiscOverridePortType" binding="misc:GetMiscOverrideSoapBinding">
      <soap:address location="http://localhost:8088/mockCollectMiscFeeSoapBinding"/>
    </port>
    <port name="CalculateTotalCostPortType" binding="misc:CalculateTotalCostSoapBinding">
      <soap:address location="http://localhost:8088/mockCollectMiscFeeSoapBinding"/>
    </port>
    <port name="CollectMiscFeePortType" binding="misc:CollectMiscFeeSoapBinding">
      <soap:address location="http://localhost:8088/mockCollectMiscFeeSoapBinding"/>
    </port>
    <port name="WaiveMiscFeePortType" binding="misc:WaiveMiscFeeSoapBinding">
      <soap:address location="http://localhost:8088/mockCollectMiscFeeSoapBinding"/>
    </port>
    <port name="CalculateExchangeCostPortType" binding="misc:CalculateExchangeCostSoapBinding">
      <soap:address location="http://localhost:8088/mockCollectMiscFeeSoapBinding"/>
    </port>
    <port name="ExchangeDocumentForEMDPortType" binding="misc:ExchangeDocumentForEMDSoapBinding">
      <soap:address location="http://localhost:8088/mockCollectMiscFeeSoapBinding"/>
    </port>
  </service>
</definitions>